@font-face {
    font-family: gotham;
    src: url(../assets/Gotham-Medium.otf);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    text-decoration: none;
    font-style: normal;
    color: white;
    box-sizing: content-box;
    font-family: gotham, sans-serif;
}

html {
    height: 100%;
    position: fixed;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

h2 {
    text-transform: uppercase;
    border-bottom: 1px solid lightgrey;
    text-align: center;
    font-size: 14px;
}

#materialTweaker {
    position: absolute;
    bottom: 155px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    white-space: nowrap;
}

#materialTweaker ul {
    text-align: center;
}

#materialTweaker li {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 20px;
    border-radius: 999px;
    cursor: pointer;
    background-position: center center;
    background-size: contain;
}

#materialTweaker li.active {
    border-width: 1px;
    border-style: solid;
}

.glass {
    /* background styles */
    position: relative;
    display: inline-block;
    box-shadow: 0px 1px 4px -2px #333;
    /* text styles */
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 100;
}

.glass:after {
    content: '';
    position: absolute;
    border-radius: 999px 999px 0px 0px;
    transform: translateX(-50%);
    width: 100%;
    height: 50%;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2));
}

#info {
    position: absolute;
    background-image: url('../assets/images/info.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 95%;
    width: 352px;
    height: 42px;
    bottom: 90px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#logo {
    position: absolute;
    background-image: url('../assets/images/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 95%;
    width: 150px;
    height: 67px;
    top: 15px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#learnMore {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 160px;
    height: 45px;
    font-size: 0.85rem;
    font-weight: 600;
    background-color: black;
    border-radius: 70px;
    bottom: 30px;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    #learnMore {
        top: 40px;
        right: 15px;
        left: auto;
    }
    #info {
        bottom: 25px;
        right: 25px;
        left: auto;
    }
    #materialTweaker {
        bottom: 25px;
        left: 25px;
        right: auto;
    }
    #logo {
        right: auto;
        left: 20px;
    }
}

main {
    background-color: #cccccc;
    flex: 1;
    display: flex;
    touch-action: none;
}

canvas {
    touch-action: none;
}

#loadingScreen {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*background-image: url("../assets/img/loading_bg.jpg");
	background-size: cover;
	background-position: center center;*/
    z-index: 1001;
    transition: 0.5s opacity ease-in-out;
}

#loadingBarBackground {
    background-color: #999999;
    margin: 0 auto;
    border-radius: 4px;
    margin-top: 20px;
    width: 80%;
    max-width: 500px;
    height: 25px;
}

#loadingBar {
    background-color: cadetblue;
    display: block;
    width: 0;
    height: 100%;
    border-radius: 4px;
}

#loadingPercent {
    text-align: center;
    position: relative;
    bottom: 20px;
}

#loadingPercent::after {
    content: ' %';
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    transition: left 0.4s ease-in-out;
}

footer div {
    width: 100%;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}