body {
	overscroll-behavior: none;
	overflow: hidden;
	margin: 0;
	background-color: #cccccc;
	position:relative;
}

canvas {
	overscroll-behavior: none;
	width:	100%;
	height: 100%;
	position:relative;
	left:0; top:0;
	z-index:-1;
}

canvas-container {
	overscroll-behavior: none;
	overflow: hidden;
}

#loading {
	overscroll-behavior: none;
	width: window.innerWidth;
	height: window.innerHeight;
	background: #cccccc;
	position:absolute;
	z-index: 0;
	opacity: 1;
 	transition: 2.0s;
}

@media only screen and (max-width: 960px) {
	.images {
		position:absolute;
	}

		#tesla {
		margin-top: 50px;
		top:0;
	  	left: 50%;
  	 	transform: translate(-50%, -50%);

	}

	#model3 {
		top:100px;
	  	left: 50%;
  	 	transform: translate(-50%, -50%);
	}

  	.color_selection {
		  	display: flex;
			flex-wrap: wrap;
  		width:100%;
		bottom:15vh;
	  	left: 50%;
  	 	transform: translate(-50%, -50%);
		position:absolute;
		flex-direction:row;
	  	align-items: center;
			justify-content: center;
	}

	#color_selected {
		position:absolute;
	}

	.selection {
		margin: 3vw;
	}

	#order {
	  	left: 50%;
	  	bottom:0;
  	 	transform: translate(-50%, -50%);
		z-index:1;		   
	}

	#order-hover {
	  	left: 50%;
	  	bottom:0;
  	 	transform: translate(-50%, -50%);
	}

	#info {
	  	left: 50%;
		bottom:7vh;
  	 	transform: translate(-50%, -50%);
	}

	#order:hover{
		cursor:pointer;
		opacity:0;
		transition:0.2s;

	}

}

@media only screen and (min-width: 961px) {
  	.color_selection {
		margin:50px;
		position:absolute;
		bottom:0;
		left:0;
	}

	.selection {
		margin-right: 2.5vw;
	}

	.images {
		margin: 50px;
		position:absolute;
	}

	#tesla {
		top:0;
	}

	#model3 {
		top:50px;
	}

	#order {
		right:0;
		top:0;	
		z-index:1;		   
	}

	#order-hover {
		right:0;
		top:0;	
	}

	#order:hover{
		cursor:pointer;
		opacity:0;
		transition:0.2s;

	}

	#info {
		right:0;
		bottom:0;
	}

	#color_selected {
		position:absolute;
	}
}