.button {
  width: 38.9vw;
  height: 12.2vw;
  border-radius: 7.2vw;
  border: 2px solid #000000;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;

  &\--desktop {
    display: none;
  }

  &:active {
    background-color: transparent;
    .button__text {
      transition: all 0.3s;
      color: #000000;
      text-decoration: none;
    }
  }
  &__text {
    font-size: 3.46vw;
    font-weight: 500;
    letter-spacing: 0.91px;
    text-transform: uppercase;
    color: $background-color;
  }

  @media (min-width: $desktop) {
    background-color: transparent;
    width: 12.76vw;
    height: 3.9vw;
    border-radius: 2.29vw;

    &\--mobile {
      display: none;
    }
    &\--desktop {
      display: flex;
    }

    &:hover {
      background-color: black;
      .button__text {
        color: $background-color;
        text-decoration: none;
      }
    }

    &__text {
      color: black;
      font-size: 1.27vw;
    }
  }
}
