.content {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__bottom {
    padding-bottom: calc(var(--vh, 1vh) * 7.5);
    padding-left: 10.6vw;
    padding-right: 10.6vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__top {
    width: 100%;
    padding-top: calc(var(--vh, 1vh) * 4.8);
    display: flex;
    justify-content: center;
  }

  @media (min-width: $desktop) {
    &__top {
      padding-left: 3.4vw;
      padding-right: 3.4vw;
      justify-content: space-between;
      padding-top: calc(var(--vh, 1vh) * 4.9);
    }
    &__bottom {
      flex-direction: row;
      padding-bottom: calc(var(--vh, 1vh) * 4.3);
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-left: 3.4vw;
      padding-right: 3.4vw;
    }
  }
  @media (max-width: 767px) and (orientation: landscape),
    (device-width: 812px) and (device-height: 375px) and (orientation: landscape) {
    display: none;
  }
}
