.fade-in {
  /* overscroll-behavior: none; */
  background: $background-color;
  width: 100%;
  position: absolute;
  z-index: 0;
  opacity: 1;
  transition: 2s;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  &__loader {
    margin-top: calc(var(--vh, 1vh) * (-16));
    height: 10vh;
  }
  @media (min-width: $desktop), (orientation: landscape) {
    &__loader {
      margin-top: 0;
      height: 17vh;
      max-height: 415px;
    }
  }
}
