.info {
  width: 100%;
  margin-bottom: calc(var(--vh, 1vh) * 7.2);
  display: flex;
  justify-content: space-between;

  &__speed-img {
    height: 5vw;
  }

  &__top-item {
    font-size: 5vw;
    margin-bottom: 0.35em;
  }
  &__bottom-item {
    font-size: 2.6vw;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $desktop) {
    width: 39.3vw;
    margin-bottom: 0;

    &__speed-img {
      height: 2.5vw;
    }

    &__top-item {
      font-size: 2.5vw;
    }
    &__bottom-item {
      font-size: 1.44vw;
    }
  }
}
