.branding {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__img {
    width: 100%;
  }
  &__item {
    &\--tesla {
      width: 28.8vw;
      margin-bottom: calc(var(--vh, 1vh) * 3);
    }
    &\--model3 {
      width: 48vw;
    }
  }
}
