.branding {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__img {
    width: 100%;
  }
  &__item {
    &\--model3 {
      //   width: 48vw;
      font-size: 12vw;
      white-space: nowrap;
    }
  }

  @media (min-width: $desktop) {
    align-items: flex-start;
    &__item {
      &\--model3 {
        font-size: 3.8vw;
      }
    }
  }
}
