.button {
  width: 38.9vw;
  height: 12.2vw;
  border-radius: 27px;
  border: 2px solid #000000;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  &__text {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.91px;
    text-transform: uppercase;
    color: white;
  }
}
