.canvas-parent {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  top: calc(var(--vh, 1vh) * (-10));

  @media (min-width: $desktop) {
    top: 0;
  }
}
