.color-selection {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: calc(var(--vh, 1vh) * 7.2);
    &__item {
        width: 36px;
        height: 36px;
        position: relative;
        overflow: visible;
        &\--selected {
            &:after {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                content: '';
                width: 100%;
                height: 100%;
                border: 2px solid #4a90e2;
                border-radius: 50%;
            }
        }
    }

    &__img {
        width: calc(100% - 7px);
        height: calc(100% - 7px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}