.color-selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: calc(var(--vh, 1vh) * 7.2);
  &__item {
    width: 9.33vw;
    height: 9.33vw;
    position: relative;
    overflow: visible;
    cursor: pointer;
    &\--selected {
      &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        width: 100%;
        height: 100%;
        border: 2px solid #4a90e2;
        border-radius: 50%;
      }
    }
  }

  &__img {
    width: calc(100% - 9px);
    height: calc(100% - 9px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (min-width: $desktop) {
    width: 34vw;
    margin-bottom: 0;

    &__item {
      width: 4.255vw;
      height: 4.255vw;
    }

    &__img {
      width: calc(100% - 18px);
      height: calc(100% - 18px);
    }
  }
}
