@font-face {
  font-family: "Gotham Medium";
  font-style: normal;
  font-weight: 500;
  src: local("Gotham Medium"), url("../font/GothamMedium.woff") format("woff");
}

*,
body,
html,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  overflow: hidden;
  font-family: "Gotham Medium";
}

html {
  height: calc(var(--vh, 1vh) * 100);
  min-height: calc(var(--vh, 1vh) * 100);
  max-height: calc(var(--vh, 1vh) * 100);
}

body {
  height: 100%;
  min-height: 100%;
  overscroll-behavior: none;
  overflow: hidden;
  margin: 0;
  background-color: #cccccc;
  position: relative;
}

canvas {
  overscroll-behavior: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

#loading {
  /* overscroll-behavior: none; */
  background: #cccccc;
  position: absolute;
  z-index: 0;
  opacity: 1;
  transition: 2s;
  height: 100%;
}

$desktop: 768px;
