*,
body,
html,
*::after,
*::before
    {
    box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	overflow: hidden;
}



html {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}

body {
    height: 100%;
    min-height: 100%; 
	overscroll-behavior: none;
	overflow: hidden;
	margin: 0;
	background-color: #cccccc;
	position:relative;
}

canvas {
	overscroll-behavior: none;
	width:	100%;
	height: 100%;
	position:relative;
	left:0; top:0;
	z-index:-1;
}

#loading {
	/* overscroll-behavior: none; */
	background: #cccccc;
	position:absolute;
	z-index: 0;
	opacity: 1;
 	transition: 2.0s;
}