.content {
  &__bottom {
    padding-bottom: calc(var(--vh, 1vh) * 7.5);
    padding-left: 10.6vw;
    padding-right: 10.6vw;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: calc(var(--vh, 1vh) * 4.8);
    display: flex;
    justify-content: center;
  }
}
