.content {
  &__bottom {
    padding-bottom: calc(var(--vh, 1vh) * 7.5);
    padding-left: 10.6vw;
    padding-right: 10.6vw;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: calc(var(--vh, 1vh) * 4.8);
    display: flex;
    justify-content: center;
  }

  @media (min-width: $desktop) {
    &__top {
      padding-left: 3.4vw;
      padding-right: 3.4vw;
      justify-content: space-between;
      padding-top: calc(var(--vh, 1vh) * 4.9);
    }
    &__bottom {
      flex-direction: row;
      padding-bottom: calc(var(--vh, 1vh) * 4.3);
      flex-direction: row;
      justify-content: space-between;
      padding-left: 3.4vw;
      padding-right: 3.4vw;
    }
  }
}
