.fade-in {
  /* overscroll-behavior: none; */
  background: $background-color;
  width: 100%;
  position: absolute;
  z-index: 0;
  opacity: 1;
  transition: 2s;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}
